form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  margin: auto;
  width: 100%;
}
h1, p[id='topo'] {
  margin: 1em auto;
  text-align: center;
}
input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  min-width: 300px;
}
input[type="radio"],
input[type="checkbox"] {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
